<!-- Sidebar Container -->
<aside 
class="fixed inset-y-0 left-0 z-50 w-64 h-screen px-8 py-12 overflow-y-auto bg-white border-r dark:bg-gray-900 dark:border-gray-700 transition-transform transform lg:translate-x-0"
[ngClass]="{'-translate-x-full': !isSidebarOpen, 'translate-x-0': isSidebarOpen}"
>
<!-- Close Button for Mobile -->
<button 
    class="absolute top-4 right-4 text-gray-600 dark:text-gray-300 lg:hidden"
    (click)="toggleSidebar()"
>
    ✕
</button>

<!-- Logo / Title -->
<a [routerLink]="['/']" class="mx-auto">
  <h1 class="font-semibold text-gray-800 dark:text-white lg:text-2xl">Expense Pro</h1>
</a>

<!-- User Profile -->
<div class="flex flex-col items-center mt-6">
  <img class="object-cover w-24 h-24 rounded-full" src="../../../assets/profile.jpg" alt="avatar">
  <h4 class="mt-2 font-medium text-gray-800 dark:text-gray-200">{{Loggeduser.name}}</h4>
  <p class="mt-1 text-sm font-medium text-gray-600 dark:text-gray-400">{{Loggeduser.email}}</p>
</div>

<!-- Navigation Links -->
<div class="mt-20">
  <nav>
    <a class="flex items-center px-4 py-2 rounded-lg transition-colors duration-300 transform"
        [routerLink]="['/dashboard']"
        routerLinkActive="bg-gray-100 text-gray-700 dark:bg-gray-800 dark:text-gray-200"
        [routerLinkActiveOptions]="{ exact: true }">
      <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M19 11H5M19 11C20.1046 11 21 11.8954 21 13V19C21 20.1046 20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V13C3 11.8954 3.89543 11 5 11M19 11V9C19 7.89543 18.1046 7 17 7M5 11V9C5 7.89543 5.89543 7 7 7M7 7V5C7 3.89543 7.89543 3 9 3H15C16.1046 3 17 3.89543 17 5V7M7 7H17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <span class="mx-4 font-medium">Dashboard</span>
    </a>

    <a class="flex items-center px-4 py-2 mt-5 rounded-lg transition-colors duration-300 transform"
        [routerLink]="['/dashboard/outflow']"
        routerLinkActive="bg-gray-100 text-gray-700 dark:bg-gray-800 dark:text-gray-200">
      <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 4V20M12 4L6 10M12 4L18 10" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <span class="mx-4 font-medium">Outflows</span>
    </a>

    <a class="flex items-center px-4 py-2 mt-5 rounded-lg transition-colors duration-300 transform"
        [routerLink]="['/dashboard/inflow']"
        routerLinkActive="bg-gray-100 text-gray-700 dark:bg-gray-800 dark:text-gray-200">
      <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 4V20M12 20L6 14M12 20L18 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <span class="mx-4 font-medium">Inflows</span>
    </a>

    <a class="flex items-center px-4 py-2 mt-5 rounded-lg transition-colors duration-300 transform"
        [routerLink]="['/dashboard/transaction']"
        routerLinkActive="bg-gray-100 text-gray-700 dark:bg-gray-800 dark:text-gray-200">
      <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 10H21M6 6H18M9 14H15M4 18H20" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <span class="mx-4 font-medium">All Transactions</span>
    </a>
  </nav>
</div>

<!-- Logout Button -->
<button 
    (click)="signOut()" 
    class="w-full px-4 py-2 mt-6 text-black bg-gray-200 rounded-lg shadow-md hover:bg-gray-300 flex justify-between items-center">
  <span class="font-medium">Sign out</span>
  <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"/>
  </svg>
</button>
</aside>

<!-- Mobile Toggle Button -->
<button 
class="fixed top-4 left-4 z-50 p-2 text-gray-600 rounded lg:hidden" 
(click)="toggleSidebar()"
>
☰
</button>
